body {
    font-family: Arial, sans-serif;
    background-color:  #010d25;
    background-image: radial-gradient(circle, #003572,  #010d25); /* #010d25;*/
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: white;
}

h1 {
    text-align: center;
    margin: 5%;
}

form {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    padding: 30px;
    width: 300px;
    color: black;
    text-align: center; 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
}

label {
    display: block;
    text-align: center; 
    margin-bottom: 5px; 
}

input[type="file"] {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    border: 0.5px solid #ccc;
    border-radius: 4px;
}

.button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    display: block; 
    margin: 20px auto; 
    text-decoration: none;
}

.button:hover {
    background-color: #0056b3;
}


/* upload page */
.flex {
    flex-direction: column;
}

.centered {
    width: 100%;
    text-align: center;
}

.accordion {
    width: 80%;
    background-color: #eee;
    color: #444;
    margin-bottom: 15px;
    padding: 1.5rem;
    border-radius: 1.5rem;
}

.accordion-header > h2 {
    margin: 0;
    border-bottom: 1px solid #444;
}

.success {
    color: green;
}

.error {
    color: red;
}
